<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Submit</title>
    <link rel="stylesheet" href="/css/contact.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/shop">Shop</a></li>
                <li><a href="/admin/add-product">Add Product</a></li>
                <li><a href="/contact-us">contact-us</a></li>
            </ul>
        </nav>
    </header>
    <h2>Thanks, we will contact you.</h2>
</body>
</html>